h1, h2 {
  font-family: Lato;
}

body{
	background-color: #363636;
	color: #fefefe;
}

table{
	background-color: #282828;
	width: 100%;
	font-size: 18px;
	border: none;
}

th, td {
  
  background-color: grey;
}